In [1]:
import pandas as pd
import numpy as np
import pickle

# Collaborative-filtering

In [3]:
df = pd.read_csv("../data/raw/steam_reviews-ENGLISH.csv")

In [4]:
df.head()

,app_id,app_name,review_id,language,review,timestamp_created,timestamp_updated,recommended,votes_helpful,votes_funny,...,steam_purchase,received_for_free,written_during_early_access,author.steamid,author.num_games_owned,author.num_reviews,author.playtime_forever,author.playtime_last_two_weeks,author.playtime_at_review,author.last_played
0,292030,The Witcher 3: Wild Hunt,85184605,english,"One of the best RPG's of all time, worthy of a...",1611379970,1611379970,True,0,0,...,True,False,False,76561199054755373,5,3,5587.0,3200.0,5524.0,1.611384e+09
1,292030,The Witcher 3: Wild Hunt,85184171,english,"good story, good graphics. lots to do.",1611379264,1611379264,True,0,0,...,True,False,False,76561198170193529,11,1,823.0,823.0,823.0,1.611379e+09
2,292030,The Witcher 3: Wild Hunt,85184064,english,"dis gud,",1611379091,1611379091,True,0,0,...,True,False,False,76561198119302812,27,2,4192.0,3398.0,4192.0,1.611352e+09
3,292030,The Witcher 3: Wild Hunt,85180436,english,favorite game of all time cant wait for the Ne...,1611373086,1611373086,True,0,0,...,True,False,False,76561198065591528,33,1,23329.0,177.0,23329.0,1.611219e+09
4,292030,The Witcher 3: Wild Hunt,85179753,english,Why wouldn't you get this,1611371978,1611371978,True,0,0,...,True,False,False,76561198996835044,131,2,8557.0,2004.0,8557.0,1.611371e+09

In [5]:
df.shape

(9635437, 22)

In [22]:
# sparse matrix

user_game_mat = pd.DataFrame(int(0),index=df['author.steamid'].unique() ,columns=df['app_name'].unique())

reviewers, games= df['author.steamid'], df['app_name']
for r, g in zip(reviewers,games):
    try:
        user_game_mat.loc[int(r),g] = int(1)
    except:
        continue
user_game_mat

,The Witcher 3: Wild Hunt,Half-Life,Counter-Strike: Source,Half-Life 2: Episode Two,Portal 2,X Rebirth,Garry's Mod,Sid Meier's Civilization V,Dead by Daylight,Sid Meier's Civilization VI,...,Thimbleweed Park,Toukiden 2,Dead Rising 4,X-Plane 11,Styx: Shards of Darkness,Train Sim WorldÂ® 2020,DRAGON QUEST HEROESâ„¢ II,Steel Division: Normandy 44,DiRT 4,Half-Life: Alyx
76561198010955177,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561198332696736,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561198098346837,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561199013170832,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561198085431842,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76561198199668210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
76561198061774352,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
76561197983355007,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
76561198099785821,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
76561198895222898,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Assign ratings

In [4]:
median_df = df.groupby('app_name')["author.playtime_forever"].median()

In [5]:
median_df

app_name
20XX                                      1182.0
A Hat in Time                             1590.0
A Short Hike                               231.0
A Way Out                                  378.0
ARK: Survival Evolved                    14068.0
                                          ...
XCOM 2                                    6768.0
Yakuza 0                                  3504.0
Youtubers Life                            1060.0
theHunter: Call of the Wildâ„¢              2888.0
ä¸‰å›½ç¾¤è‹±ä¼ 8 Heroes of the Three Kingdoms 8      655.0
Name: author.playtime_forever, Length: 315, dtype: float64

In [6]:
median_df = pd.DataFrame(median_df).reset_index()
median_df.columns = ['app_name', 'median_playtime']

In [7]:
median_df

                                  app_name  median_playtime
0                                     20XX           1182.0
1                            A Hat in Time           1590.0
2                             A Short Hike            231.0
3                                A Way Out            378.0
4                    ARK: Survival Evolved          14068.0
..                                     ...              ...
310                                 XCOM 2           6768.0
311                               Yakuza 0           3504.0
312                         Youtubers Life           1060.0
313           theHunter: Call of the Wildâ„¢           2888.0
314  ä¸‰å›½ç¾¤è‹±ä¼ 8 Heroes of the Three Kingdoms 8            655.0

[315 rows x 2 columns]

In [8]:
df = pd.merge(df, median_df,right_on='app_name', left_on='app_name')

In [9]:
df.head()

,app_id,app_name,review_id,language,review,timestamp_created,timestamp_updated,recommended,votes_helpful,votes_funny,...,received_for_free,written_during_early_access,author.steamid,author.num_games_owned,author.num_reviews,author.playtime_forever,author.playtime_last_two_weeks,author.playtime_at_review,author.last_played,median_playtime
0,292030,The Witcher 3: Wild Hunt,85184605,english,"One of the best RPG's of all time, worthy of a...",1611379970,1611379970,True,0,0,...,False,False,76561199054755373,5,3,5587.0,3200.0,5524.0,1.611384e+09,7483.0
1,292030,The Witcher 3: Wild Hunt,85184171,english,"good story, good graphics. lots to do.",1611379264,1611379264,True,0,0,...,False,False,76561198170193529,11,1,823.0,823.0,823.0,1.611379e+09,7483.0
2,292030,The Witcher 3: Wild Hunt,85184064,english,"dis gud,",1611379091,1611379091,True,0,0,...,False,False,76561198119302812,27,2,4192.0,3398.0,4192.0,1.611352e+09,7483.0
3,292030,The Witcher 3: Wild Hunt,85180436,english,favorite game of all time cant wait for the Ne...,1611373086,1611373086,True,0,0,...,False,False,76561198065591528,33,1,23329.0,177.0,23329.0,1.611219e+09,7483.0
4,292030,The Witcher 3: Wild Hunt,85179753,english,Why wouldn't you get this,1611371978,1611371978,True,0,0,...,False,False,76561198996835044,131,2,8557.0,2004.0,8557.0,1.611371e+09,7483.0

In [12]:
######################## Assume the ratings  ###############
def get_ratings(df_col):
    df_col['Rating'] = 0
    for i in range(len(df_col)):
        if df_col['author.playtime_forever'][i]>= df_col['median_playtime'][i]:
            df_col['Rating'][i] = 5
    #else:
     #   df_col['Rating'][i] = 2
        elif df_col['median_playtime'][i]>df_col['author.playtime_forever'][i]>= df_col['median_playtime'][i]*0.8:
            df_col['Rating'][i] = 4
        elif df_col['median_playtime'][i]*0.8>df_col['author.playtime_forever'][i]>= df_col['median_playtime'][i]*0.5:
            df_col['Rating'][i] = 3
        elif df_col['median_playtime'][i]*0.5>df_col['author.playtime_forever'][i]>= df_col['median_playtime'][i]*0.1:
            df_col['Rating'][i] = 2
        elif df_col['median_playtime'][i]*0.1>df_col['author.playtime_forever'][i]:
            df_col['Rating'][i] = 1
    return df_col

In [13]:
get_ratings(df)

/home/abdulium/miniconda3/envs/t5/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/abdulium/miniconda3/envs/t5/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/abdulium/miniconda3/envs/t5/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/abdulium/miniconda3/envs/t5/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/home/abdulium/miniconda3/envs/t5/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,app_id,app_name,review_id,language,review,timestamp_created,timestamp_updated,recommended,votes_helpful,votes_funny,...,written_during_early_access,author.steamid,author.num_games_owned,author.num_reviews,author.playtime_forever,author.playtime_last_two_weeks,author.playtime_at_review,author.last_played,median_playtime,Rating
0,292030,The Witcher 3: Wild Hunt,85184605,english,"One of the best RPG's of all time, worthy of a...",1611379970,1611379970,True,0,0,...,False,76561199054755373,5,3,5587.0,3200.0,5524.0,1.611384e+09,7483.0,3
1,292030,The Witcher 3: Wild Hunt,85184171,english,"good story, good graphics. lots to do.",1611379264,1611379264,True,0,0,...,False,76561198170193529,11,1,823.0,823.0,823.0,1.611379e+09,7483.0,2
2,292030,The Witcher 3: Wild Hunt,85184064,english,"dis gud,",1611379091,1611379091,True,0,0,...,False,76561198119302812,27,2,4192.0,3398.0,4192.0,1.611352e+09,7483.0,3
3,292030,The Witcher 3: Wild Hunt,85180436,english,favorite game of all time cant wait for the Ne...,1611373086,1611373086,True,0,0,...,False,76561198065591528,33,1,23329.0,177.0,23329.0,1.611219e+09,7483.0,5
4,292030,The Witcher 3: Wild Hunt,85179753,english,Why wouldn't you get this,1611371978,1611371978,True,0,0,...,False,76561198996835044,131,2,8557.0,2004.0,8557.0,1.611371e+09,7483.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9635432,546560,Half-Life: Alyx,65645167,english,best game ever\n,1584986750,1584986750,True,0,0,...,False,76561198817267089,86,8,1055.0,14.0,45.0,1.611138e+09,995.0,5
9635433,546560,Half-Life: Alyx,65645125,english,Holy balls,1584986704,1584986704,True,0,0,...,False,76561197967033932,431,7,432.0,0.0,29.0,1.586628e+09,995.0,2
9635434,546560,Half-Life: Alyx,65645115,english,"A tripod thing bears down on you, it looks imm...",1584986693,1584986693,True,0,0,...,False,76561198046495482,70,10,3296.0,15.0,24.0,1.611080e+09,995.0,5
9635435,546560,Half-Life: Alyx,65645100,english,Honestly this is the best vr game ever,1584986673,1584986673,True,0,0,...,False,76561198176379749,79,17,2654.0,0.0,34.0,1.591634e+09,995.0,5
9635436,546560,Half-Life: Alyx,65645066,english,Smooth turning is not working right now.\nIt a...,1584986631,1586382422,True,0,0,...,False,76561198041763187,140,3,210.0,0.0,12.0,1.589715e+09,995.0,2

In [14]:
# pickle rating
pickle.dump(df, open("df_rating.pickle", 'wb'))

In [3]:
# open pickle
df = pickle.load(open("df_rating.pickle", 'rb'))

In [ ]:
# sparse matrix

user_game_mat_ratings = pd.DataFrame(int(0),index=df['author.steamid'].unique() ,columns=df['app_name'].unique())

reviewers, games, ratings = df['author.steamid'], df['app_name'], df['Rating']
for rev, game, rating in zip(reviewers,games, ratings):
    try:
        user_game_mat_ratings.loc[int(rev),game] = rating
    except:
        continue
user_game_mat_ratings

In [41]:
sum(user_game_mat_ratings["The Witcher 3: Wild Hunt"])

0